<!DOCTYPE html>
<html>
  <head>
    <title>Socialrecipes</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
  			<div class="navbar-header title-logo">
  				
  			</div>
  			<div class="collapse navbar-collapse">
  				<ul class="nav navbar-nav navbar-hight">
    				<% if user_signed_in? %>
    					<li>
                <span>
                  Olá <%= current_user.email %>
                </span>
              </li>
            <% else %>
              <li> <%= link_to 'Entrar', new_user_session_path %> </li>
    				<% end %>
          </ul>            
  			</div>
  		</div>
  	</nav>

  	<div class="container">

			<%= notice %>
   		<%= alert %>

    	<%= yield %>

  	</div>
  </body>
</html>
